if ! type use_devenv >/dev/null 2>&1; then
  eval "$(devenv direnvrc)"
fi
use devenv

localstack_token_file="${XDG_RUNTIME_DIR:-/run/user/$UID}/secrets/localstack"
if [[ -r "$localstack_token_file" ]]; then
  export LOCALSTACK_AUTH_TOKEN="$(<"$localstack_token_file")"
fi
unset localstack_token_file
